<header id="header" class="container-fluid">
    <div class="desktop-menu">
        <div class="row middle">
            <div class="logo col">
                <a href="{{ site.baseurl }}">
                  <img src="{{ "/img/epicenter-logo.png" | prepend: site.baseurl | replace: '//', '/' }}" alt="Epicenter Logo"-->
                </a>
            </div>
            <nav class="col">
                <ul class="navmenu">
                    <li><a href="#what-is-epicenter">What is Epicenter</a></li>
                    <li><a href="#who-are-we">Who are we</a></li>
                    <li><a href="#external-capital">Onboarding External Capital</a></li>
                    <li><a href="#EPIC">EPIC</a></li>
                    <li><a href="#EUSD">EUSD</a></li>
                    <li><a href="#ECR">ECR</a></li>
                    <li><a href="#links">Links</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="mobile-menu">
       <div class="row">
        <nav class="mobile-nav mob-nav col-xs-12">
            <div class="row logo-wrap-mob start-xs middle-xs">
                <div class="col-xs-12">
                    <a href="{{ site.baseurl }}"><img src="{{ "/img/epicenter-logo.png" | prepend: site.baseurl | replace: '//', '/' }}" alt="Epicenter Logo"--></a>
                </div>
            </div>
            <input class="burger-check" id="mobile-burger" type="checkbox">
            <label for="mobile-burger" class="hamburger hamburger--3dxy">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </label>
            <div class="slide-in-nav">
                <div class="row middle-xs end-xs">
                   <div class="col">
                        <div class="col-xs-12 nav-item">
                            <a href="#what-is-epicenter">What is Epicenter</a>
                        </div>
                        <div class="col-xs-12 nav-item">
                            <a href="#who-are-we">Who are we</a>
                        </div>
                        <div class="col-xs-12 nav-item">
                            <a href="#external-capital">Onboarding External Capital</a>
                        </div>
                        <div class="col-xs-12 nav-item">
                            <a href="#EPIC">EPIC</a>
                        </div>
                        <div class="col-xs-12 nav-item">
                            <a href="#EUSD">EUSD</a>
                        </div>
                        <div class="col-xs-12 nav-item">
                            <a href="#ECR">ECR</a>
                        </div>
                        <div class="col-xs-12 nav-item">
                            <a href="#links">Links</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
      </div>
    </div>
</header>